doctype html
html
    head
        title {#text1}
        link(rel='stylesheet', href='/css/ex1.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div.container
            header #{text1}
            maincontent
                p maincontent
            twin
                p twin
            footer #{text2}