doctype html
html
    head
        title {#text1}
        link(rel='stylesheet', href='/css/ex2.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div.container
            one #{text}
            two Two
            three Three
            four Four
            five Five