doctype html
html
    head
        title ex3
        link(rel='stylesheet', href='/css/ex3.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div.container
            header header
            sidebar
                ul
                    li sidebar
            maincontent
                h1 Welcome
                h3 Hi!!
            footer footer